*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode

/DokumentalneProvider
/FilmanProvider
/TvpolanProvider
/VizjerProvider
/ZaluknijProvider
/AltadefinizioneProvider
/AnimeSaturnProvider
/AnimeWorldProvider
/AniPlayProvider
/CalcioStreamingProvider
/CineBlog01Provider
/CineBlogProvider
/EurostreamingProvider
/FilmpertuttiProvider
/GuardaSerieProvider
/IlGenioDelloStreamingProvider
/SoraItalianStream
/StarLiveProvider
/StreamingcommunityProvider
/TantiFilmProvider
/TvItalianaProvider
/FrenchStreamProvider
/NekosamaProvider
/VfFilmProvider
/VfSerieProvider
/VostfreeProvider
/WiflixProvider
/Anizm
/Hdfilmcehennemi
/PinoyHDXyzProvider
/PinoyMovies
/PinoyMoviesHub
/UakinoProvider
/XcineProvider
/PhimmoichillProvider
/TocanimeProvider
/HDMovie5
/YomoviesProvider
/AnimeIndoProvider
/AnimeSailProvider
/DramaidProvider
/GomunimeProvider
/IdlixProvider
/KuramanimeProvider
/KuronimeProvider
/LayarKacaProvider
/MultiplexProvider
/NeonimeProvider
/NontonAnimeIDProvider
/OploverzProvider
/OtakudesuProvider
/RebahinProvider
/UseeTv
/Gomunimeis
/DubokuProvider
/AkwamProvider
/EgyBestProvider
/FaselHDProvider
/MyCimaProvider
/HDrezkaProvider
/NineGoalProvider
/CasaCinemaProvider
/FreeTVProvider
/SkillShareProvider
/WebFlix